{% extends 'myapp/base.html' %}

{% block page_title %}About{% endblock %}
{% block nav-link-about %}active{% endblock %}

{% block content %}
    
    <h1 class="mt-5">About</h1>

    <!-- Lucky and unlucky numbers -->
    {% if lucky_number != unlucky_number %}
    <p>Lucky number: <b>{{ lucky_number }}</b></p>
    <p>Unlucky number: <b>{{ unlucky_number }}</b></p>
    {% else %}
    <p>Don’t worry, be happy!</p>
    {% endif %}
    <!-- /Lucky and unlucky numbers -->

    <!-- Mytech -->
    <ul>
      {% for lang in mytech %}
      <li>
        <a href="{{ lang.url }}">{{ lang.name }}</a>: {{ lang.level }}
      </li>
      {% endfor %}
    </ul>
    <!-- /Mytech -->
    
{% endblock %}