{% extends 'myapp/base.html' %}

{% block page_title %}Tools{% endblock %}
{% block nav-link-tools %}active{% endblock %}
{% block nav-item-seqcontent %}active{% endblock %}

{% block page_level_css %}
<style>
    ul.errorlist li {
        color: red;
    }
</style>
{% endblock %}


{% block content %}
    
    <h1 class="mt-5">Tools <small>Seqcontent</small></h1>
    

    {% if results %}
        <h3>Results</h3>
        {% for key, value in results.items %}
        <p>{{ key }} - {{ value }}</p>
        {% endfor %}
    {% else %}
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-primary" type="submit">Calculate</button>
        </form>

    {% endif %}


{% endblock %}

