{% extends 'myapp/base.html' %}
{% load static %}

{% block page_title %}Blog{% endblock %}
{% block nav-link-blog %}active{% endblock %}

{% block content %}
    
 <div class="row">
    <div class="col-9">
      <h1 class="mt-5">Blog
         <small>latest posts</small>
      </h1>

      {% if page_obj %}
        <!-- begin::Number of posts -->
        <div class="alert alert-info" role="alert">
          Showing <strong>{{ n_posts }}</strong> post{{ n_posts|pluralize }}{% if category_name %} from <strong>{{ category_name }}</strong>.{% else %}.{% endif %}
        </div>
        <!-- end::Number of posts -->

        {% for obj in page_obj %}
          <!-- begin::Post -->
          <div class="card mb-4">
            <!--<img class="card-img-top" src="http://placehold.it/750x150" alt="Card image cap">-->
            <div class="card-body">
              <h2 class="card-title">{{ obj.title|title }}</h2>
              <p class="card-text md2html">{{ obj.body|truncatewords_html:50 }}</p>
              <a href="{% url 'blog:post_detail_view' obj.id %}" class="btn btn-sm btn-primary">Read More →</a>
            </div>
            <div class="card-footer text-muted">
              <div class="row">
                <div class="col-6">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  Published: {{ obj.date_create|timesince }} ago
                </div>
                <div class="col-6" style="text-align:right;">
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                  Category: {{ obj.category.name }}
                </div>
              </div>
            </div>
          </div>
          <!-- end::Post -->
        {% endfor %}

        <!-- begin::Pagination -->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page=1" tabindex="-1">&laquo; First</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
              </li>
              {% endif %}
              <li class="page-item disabled">
                <a class="page-link" href="">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
              </li>
              {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
              </li>
              {% endif %}
          </ul>
        </nav>
        <!-- end::Pagination -->

        <div class="alert alert-info" role="alert">
          Pagination is explained in <a target="_blank" href="https://docs.djangoproject.com/en/3.2/topics/pagination/">Django Documentation</a>.
        </div>

      {% else %}
        <div class="alert alert-warning" role="alert">No posts to show.</div>
      {% endif %}
    </div>
    <!-- begin::Sidebar -->
    <div class="col-3">
      {% include 'blog/includes/category_widget.html' with category_name=category_name category_list=category_list %}
    </div>
    <!-- end::Sidebar -->
  </div>

{% endblock %}

{% block page_level_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
<script src="{% static 'blog/js/md2html.js' %}"></script>
{% endblock %}