{% load static %}

<!doctype html>
<html class="h-100">
  <head>
    <title>My project | {% block page_title %}{% endblock %}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!-- My custom CSS -->
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">

    <!-- Page level CSS -->
    {% block page_level_css %}{% endblock %}

  </head>
  <body class="d-flex flex-column h-100">

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
          <a class="navbar-brand" href="{% url 'myapp:home' %}">
            <img src="{% static 'myapp/img/fa-home.svg' %}" height="30px"> Website
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link {% block nav-link-home %}{% endblock %}" aria-current="page" href="{% url 'myapp:home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% block nav-link-news %}{% endblock %}" href="{% url 'news:index' %}">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% block nav-link-covid19 %}{% endblock %}" href="{% url 'covid19:index' %}">Covid19</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% block nav-link-blog %}{% endblock %}" href="{% url 'blog:post_list_view' %}">Blog</a>
              </li>

              <li class="nav-item">
                <a class="nav-link {% block nav-link-about %}{% endblock %}" href="{% url 'myapp:about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% block nav-link-contact %}{% endblock %}" href="{% url 'myapp:contact' %}">Contact</a>
              </li>
            </ul>
            <!--<form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>-->
          </div>
        </div>
      </nav>
    </header>

    <!-- Main -->
    <main class="flex-shrink-0">
      <div class="container">
        {% block content %}
        <p>Default content</p>
        {% endblock %}
      </div>
    </main>
    <!-- /Main -->

    <!-- Footer -->
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span>© 2021 Company, Inc. · 
        <a href="#">Facebook</a> · 
        <a href="#">Twitter</a>
        </span>
      </div>
    </footer>
    <!-- /Footer -->
    
    <!-- Javascripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>